<div class="accordion-item">
    <h5 class="accordion-header" id="heading{{ title }}">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ title | cut:' ' }}"
                aria-expanded="false"
                aria-controls="{{ title | cut:' ' }}">
            <b data-bs-toggle="tooltip"
               data-bs-placement="top"
               data-bs-custom-class="mine-info-tooltip"
               title="{{ tooltip }}">{{ title }}</b>
        </button>
    </h5>
    <div id="{{ title | cut:' ' }}"
         class="accordion-collapse collapse"
         aria-labelledby="heading{{ title | cut:' ' }}"
         data-bs-parent="#{{ accordion_id|default:"bioAccordion" }}">
        <div class="accordion-body p-2 ps-3 pe-3">{% include content_partial %}</div>
    </div>
</div>
