{% load mine_extras %}
<ul class="ps-0 mb-0 list-unstyled">
    {% for position in career %}
        <li class="fw-normal pb-1">
            <!-- djlint:off -->{{ position.position }}{% if position.fach %} für {{ position.fach }}{% endif %}:<!-- djlint:on -->
            {{ position.obj|mine_link }}
            {% if position.beginn_date_sort or position.ende_date_sort %}
                ({{ position.beginn_date_sort|date:"Y" }} - {{ position.ende_date_sort|date:"Y" }})
            {% endif %}
            {% if position.references %}
                {% include 'mine_frontend/partials/tooltip_info.html' with text='{{ position.references }}' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
