{% load static %}
<div class="imgcontainer">
    {% if image %}
        <figure class="float-md-end mt-0" style="max-width:110px;">
            <a href="{% if image.art == 'Wikimedia' %}{{ image.pfad }}{% else %}/static/portraits_members/{{ image.pfad }}{% endif %}"
               data-lightbox="images">
                <img src="{% if image.art == 'Wikimedia' %}{{ image.pfad }}{% else %}/static/portraits_members/{{ image.pfad }}{% endif %}"
                     class="mw-100"
                     style="max-width:110px">
            </a>
            <figcaption id="photocredit" class="figure-caption text-center small">{{ image.credit }}</figcaption>
        </figure>
    {% else %}
        <a href="{% static 'mine_frontend/img/placeholder_enlarged.png' %}"
           data-lightbox="images">
            <img class="float-md-end mw-100"
                 style="max-width:110px"
                 src="{% static 'mine_frontend/img/placeholder_110-134.png' %}">
        </a>
    {% endif %}
</div>
