<div class="card-body p-2 ps-3 pe-3 show-limited-number text-09">
    <ul class="ps-0 mb-0 list-unstyled">
        {% for ent in successors %}
            <li class="fw-normal pb-1">
                {{ ent.relation }} <a href="/institution/{{ ent.obj.id }}">{{ ent.obj }}</a>
                {% if ent.beginn or ent.ende %}
                    {{ ent.beginn|date:"Y" }}
                    {% if ent.ende %}- {{ ent.ende|date:"Y" }}{% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
