<div class="section">
    <span class="font-weight-bold">Strukturelle Entwicklung</span>
    <ul class="relentities  list-unstyled">
        {% for x in structure %}
            <li class="pl-0 font-weight-normal pb-0" style="padding-bottom: 0.8em">
                {{ x.relation }} <a href="{{ x.obj.id }}" target="_blank" rel="noopener noreferrer">{{ x.obj }}</a> {{ x.beginn|date:"Y" }}
                {% if x.ende %}- {{ x.ende|date:"Y" }}{% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
