{% load mine_extras %}
<div class="card-body p-2 ps-3 pe-3 show-limited-number text-09">
    <ul class="ps-0 mb-0 list-unstyled">
        {% for ent in leaders %}
            <li class="fw-normal pb-1">
                <a href="/person/{{ ent.subj.id }}">{{ ent.subj }}</a>, {{ ent.position|funktion }}: {{ ent|mine_date }}
            </li>
        {% endfor %}
        {% if leaders %}<br />{% endif %}
        {% for ent in deputies %}
            <li class="fw-normal pb-1">
                <a href="/person/{{ ent.subj.id }}">{{ ent.subj }}</a>, {{ ent.position|funktion }}: {{ ent|mine_date }}
            </li>
        {% endfor %}
    </ul>
</div>
