<div class="card-body p-2 ps-3 pe-3 show-limited-number text-09">
    <ul class="ps-0 mb-0 list-unstyled">
        {% for ent in presidents %}
            <li class="fw-normal pb-1">
                <a href="/person/{{ ent.subj.id }}">{{ ent.subj }}</a>
                {% if ent.beginn_date_sort or ent.ende_date_sort %}
                    {{ ent.beginn_date_sort|date:"Y" }}
                    {% if ent.ende_date_sort %}- {{ ent.ende_date_sort|date:"Y" }}{% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
