<ul class="pl-0 mb-0">
    {% for memb in membership %}
        <li class="font-weight-normal pb-0"
            style="list-style-type:none;
                   padding-bottom: 0.5em">
            {% if memb.beginn_date_sort %}
                {{ memb.beginn_date_sort|date:"Y" }}
            {% else %}
                {{ memb.datum_date_sort|date:"Y" }}
            {% endif %}
            zur
            Wahl zum {{ memb.mitgliedschaft }} der {{ memb.obj|title }}
            {% if memb.vorgeschlagen_von.count > 0 %}
                vorgeschlagen von:
                {% for sug in memb.vorgeschlagen_von.all %}
                    <a href="/person/{{ sug.id }}">{{ sug }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            {% endif %}
            <br>
            als {{ memb.mitgliedschaft }}
            {% if memb.beginn_typ %}
                {{ memb.beginn_typ }}
            {% else %}
                nicht gewählt
            {% endif %}
        {% endfor %}
    </li>
</ul>
