{% load mine_extras %}
Mitglied folgender nationalsozialistischer Vereinigungen:
<ul class="ps-0 mb-0 list-unstyled">
    {% for member in nazi %}
        <li class="fw-normal pb-1">
            {{ member.obj|mine_link }}
            {% if member.beginn or member.ende %}
                ({{ member.beginn_date_sort|date:"d.m.Y" }} - {{ member.ende_date_sort|date:"d.m.Y" }})
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if oeaw_member.reg_pflichtig %}
    <hr>
    Registrierungspflicht aufgrund des Verbotsgesetzes vom 1.5.1945
{% endif %}
