{% load mine_extras %}
<ul class="ps-0 mb-0 list-unstyled">
    {% for member in nazi %}
        <li class="fw-normal pb-1">
            {% if "Anwärter(In)" in member.art %}
                Anwärter(In)
            {% else %}
                Mitglied
            {% endif %}
            {{ member.obj|mine_link }} {{ member|mine_date:"()" }}
            {% if member.references %}
                {% include 'mine_frontend/partials/tooltip_info.html' with text=member.references %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if oeaw_member.reg_pflichtig %}
    <hr>
    Registrierungspflicht aufgrund des Verbotsgesetzes vom 1.5.1945
{% endif %}
