{% load mine_extras %}
<ul class="ps-0 mb-0 list-unstyled">
    {% for prize in prizes %}
        <li class="fw-normal pb-1">
            <!-- djlint:off -->{{ prize.obj|mine_link }}{% if prize.datum %}, {{ prize|mine_date }}{% endif %}<!-- djlint:on -->
        </li>
    {% endfor %}
</ul>
{% if honour_titles %}
    {% if prizes %}<hr>{% endif %}
    <ul class="ps-0 mb-0 list-unstyled">
        {% for title in honour_titles %}
            <li class="fw-normal pb-1">
                {{ title.titel|default:"Ehrentitel" }} von {{ title.obj|mine_link }} {{ title|mine_date:"()" }}
                {% if title.references %}
                    {% include 'mine_frontend/partials/tooltip_info.html' with text=title.references %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
