<div class="section">
    <span class="fw-bold">Downloads</span>
    <ul class="uris ps-0 list-unstyled">
        <li class="ps-0 fw-normal">
            <a target="_blank"
               rel="noopener noreferrer"
               href="/apis/api/entities/{{ type }}/{{ object.pk }}/?format=json">Json</a>
        </li>
        <li class="ps-0 fw-normal">
            <a target="_blank"
               rel="noopener noreferrer"
               href="/apis/api2/entity/{{ object.pk }}/?format=rdf%2Bturtle">RDF/Turtle</a>
        </li>
        <li class="ps-0 fw-normal">
            <a target="_blank"
               rel="noopener noreferrer"
               href="/apis/api2/entity/{{ object.pk }}/?format=tei">TEI</a>
        </li>
    </ul>
</div>
