{% extends "mine_frontend/base.html" %}
{% load static %}
{% block content %}
<div class="wrapper" id="wrapper-hero">
	<!-- ******************* The Hero Area ******************* -->
	<div class="wrapper  pb-0" id="wrapper-hero-content">
		<div class="container pl-5 pr-5 hero-light" id="wrapper-hero-inner" tabindex="-1">
			<div class="row m-0 bg-mine border-mine p-1">
				<h1 class="w-50  font-weight-bold">Über das Projekt</h1>
			</div>
		</div>
		<!-- #wrapper-hero-content -->
	</div>
	<div class="wrapper pt-0" id="index-wrapper">
		<div class="container pl-5 pr-5" id="content" tabindex="-1">
			<div class="row">
				<div class="col-md-8 col-lg-6">
					<p>
						ÖAW M|I|N|E bereitet erstmals die Geschichte der Österreichischen
						Akademie der
						Wissenschaften, gegründet 1847, in digitaler Form auf. M|I|N|E steht für
						Mitglieder |
						Institutionen | Netzwerke | Ereignisse.
					</p>
					<p>
						Die Datenbank erfasst alle gegenwärtigen und historischen Mitglieder der
						Akademie (rund 3.000 Wissenschaftler:innen), ihre etwa 80 Institute, 365
						Kommissionen und andere Forschungseinrichtungen. Darüber hinaus werden
						zentrale Ereignisse wie z.B. die jährlichen Feierlichen Sitzungen,
						Festreden, Preisausschreibungen u.a. dokumentiert. Die in M|I|N|E
						aufbereiteten Daten wurden auf Grundlage von Beständen des ÖAW-Archivs
						sowie von Akademieveröffentlichungen wissenschaftlich recherchiert.
					</p>
					<p>
						Die erfassten Daten können sowohl in Form von Individualprofilen
						angezeigt als auch in Verbindung mit Akademieinstitutionen und
						Ereignissen ausgewertet und als Netzwerke visualisiert werden.
					</p>
					<p>
						ÖAW M|I|N|E ist work in progress. Der Datenbestand umfasst derzeit
						sämtliche Mitglieder der Akademie. Detaillierte biografische Angaben
						liegen für Personen vor, die bis 1955 (kMI) bzw. bis 1970 (wM) zu
						Mitgliedern gewählt wurden, sowie für die heutigen Mitglieder.
						Korrespondierende Mitglieder im Ausland und Ehrenmitglieder sind derzeit
						ausschließlich mit ihren Funktionen innerhalb der Akademie erfasst.
					</p>
					<!-- Your content here -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
