<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}Geschichte der Akademie{% endblock %}
        </title>
        {% block scriptHeader %}
            {% load sass_tags %}
            <link href="{% sass_src 'mine_frontend/css/theme.scss' %}"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div id="page">
            <div id="wrapper-navbar">
                <a href="#content">Skip to content</a>
                <nav>
                    <div>
                        <a href="/" rel="home">
                            <img src="{% static 'mine_frontend/img/MINE_logo.svg' %}" alt="MINE Logo" />
                        </a>
                        <button type="button" aria-label="Toggle navigation">
                            <span></span>
                        </button>
                        <div id="navbarSupportedContent">
                            <ul id="main-menu">
                                <li>
                                    <a href="ADD URL">Mitglieder</a>
                                </li>
                                <li>
                                    <a href="ADD URL">Institutionen</a>
                                </li>
                                <li>
                                    <a href="ADD URL">Netzwerke</a>
                                </li>
                                <li>
                                    <a href="ADD URL">Ereignisse</a>
                                </li>
                            </ul>
                            <form method="get"
                                  action=" {% if 'institution' in request.path %} /institutionen/search {% else %} /search {% endif %} "
                                  role="search">
                                <input id="s"
                                       name="q"
                                       type="text"
                                       placeholder=""
                                       value=""
                                       autocomplete="off" />
                                <button type="submit">Search</button>
                            </form>
                            <ul id="second-menu">
                                <li>
                                    <a href="ADD URL">Über</a>
                                </li>
                                <li>
                                    <a href="ADD url">Kontakt</a>
                                </li>
                                <li>
                                    <a href="ADD URL">Stories</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div>
                <div>
                    <div>
                        <footer>
                            <div>
                                <div>
                                    <ul>
                                        <li>
                                            <a href="ADD URL">Impressum</a>
                                        </li>
                                        <li>
                                            <a href="ADD URL">Datenschutz</a>
                                        </li>
                                        <li>
                                            &#xa9; Österreichische Akademie der
                                            Wissenschaften
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <button type="button">Back to Top</button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
            {% block scripts %}{% endblock %}
            {% block scripts2 %}
            {% endblock scripts2 %}
        </div>
    </body>
</html>
