{% load static %}
<div class="date-slider-wrapper">
    <div id="slider-{{ slider_name }}"
         class="mine-date-slider"
         data-min="1847"
         data-max="2025"
         data-form-lower="start_date_form"
         data-form-upper="end_date_form"></div>
    <legend id="slider-mitgld-description" class="legend-date-slider">
        Alle Mitgliedschaften die während der ausgewählten Periode aufrecht waren werden angezeigt.
        <br />
        <span id="lower-bound">Mitgliedschaften <b>können vor</b> <span id="lower-year">1847</span> beginnen und <b>müssen nach</b> <span id="lower-year">1847</span> enden.</span>&nbsp;<span id="upper-bound">Mitgliedschaften müssen vor <span id="upper-year">2025</span> starten und <b>können nach</b> <span id="upper-year">2025</span> enden.</span>
        <br />
        Mit einem <b>Doppelclick</b> auf die eingestellten Zeitrahmen zwischen durchlässigen (blau) und ausschliessenden (rot) umschalten.
    </legend>
    <template id="slider-lower-selected">
        Mitgliedschaften <b>müssen</b> <span id="lower-year"></span> oder danach beginnen.
    </template>
    <template id="slider-lower-not-selected">
        Mitgliedschaften <b>können vor</b> <span id="lower-year"></span> beginnen und <b>müssen nach</b> <span id="lower-year"></span> enden.
    </template>
    <template id="slider-upper-selected">
        Mitgliedschaften <b>müssen</b> <span id="upper-year"></span> oder davor enden.
    </template>
    <template id="slider-upper-not-selected">
        Mitgliedschaften müssen vor <span id="upper-year"></span> starten und <b>können nach</b> <span id="upper-year"></span> enden.
    </template>
</div>
