{% extends "mine_frontend/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block scriptHeader %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js"></script>
    <script src="{% static 'js/apis_select2.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
{% endblock scriptHeader %}
{% block content %}
    <div class="wrapper" id="wrapper-hero">
        <!-- ******************* The Hero Area ******************* -->
        <div class="wrapper  pb-0" id="wrapper-hero-content">
            <div class="container pl-5 pr-5 hero-light"
                 id="wrapper-hero-inner"
                 tabindex="-1">
                <div class="row m-0 bg-mine border-mine p-1">
                    <h1 class="w-50  font-weight-bold">Mitglieder der Österreichischen Akademie der Wissenschaften</h1>
                    <div class="w-75 mx-auto">
                        <p class="font-weight-normal">
                            Die Österreichische Akademie der Wissenschaften besteht aus zwei Klassen,
                            der mathematisch-naturwissenschaftlichen und der philosophisch-historischen
                            Klasse. Die Gelehrtengesellschaft ergänzt sich selbst durch die Wahl neuer Mitglieder.
                        </p>
                    </div>
                </div>
            </div>
            <!-- #wrapper-hero-content -->
        </div>
        <div class="wrapper pt-0" id="index-wrapper">
            <div class="container pl-5 pr-5" id="content" tabindex="-1">
                {% block search-form %}
                    <form action="/search?" class="w-100" method="get">
                        <div id="search_form">{% crispy search_form search_form.helper %}</div>
                    </form>
                {% endblock search-form %}
            </div>
        </div>
    </div>
{% endblock %}
