{% extends "mine_frontend/base.html" %}
{% load static %}
{% block title %}Details {{ oeaw_member }}{% endblock %}
{% block content %}
    <div class="container">
        {% include 'mine_frontend/partials/member_name.html' %}
        {% include 'mine_frontend/partials/place_of_birth_and_death.html' %}
        {% include 'mine_frontend/partials/memberships_long.html' %}
        {% include 'mine_frontend/partials/education.html' %}
        {% include 'mine_frontend/partials/career.html' %}
    </div>
    <div id="contentDetails" class="container px-5 smaller-font-size">
        <div class="row bio-outer">
            <div class="col-md-12 pb-4">
                <div class="row justify-content-between pt-3">
                    <div class="col-md-auto">
                        {% if prev.id %}
                            <a class="card-link preventity"
                               href="{% url 'theme:person-detail' pk=prev.id %}"
                               title="{{ prev }}">&larr; {{ prev }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-auto">
                        {% if next.id %}
                            <a class="card-link nextentity"
                               href="{% url 'theme:person-detail' pk=next.id %}"
                               title="{{ next }}">{{ next }} &rarr;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <article class="bio">
                    <div id="main" class="card-body">
                        <div class="row">
                            <div class="col-md-5 pl-0 pr-0 pr-md-custom">
                                <div class="bg-mine border-mine pl-1">
                                    {% include 'mine_frontend/partials/member_name.html' %}
                                    {% include 'mine_frontend/partials/image.html' %}
                                    {% include 'mine_frontend/partials/place_of_birth_and_death.html' %}
                                    {% if membership_short %}
                                        {% include 'mine_frontend/partials/memberships.html' %}
                                    {% endif %}
                                    {% if normdaten %}
                                        <div class="section">
                                            <span class="font-weight-bold">Online-Ressourcen</span>
                                            <ul class="uris pl-0 list-unstyled">
                                                {% for nd in normdaten %}
                                                    <li class="pl-0 font-weight-normal">
                                                        {{ nd.kind }} <a target="_blank" rel="noopener noreferrer" href="{{ nd.uri }}">{{ nd.identifier }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% include "mine_frontend/partials/section_downloads.html" with type='person' %}
                                </div>
                            </div>
                            <div class="col-md-7 pr-0 pl-0 pl-md-custom">
                                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                                    <li class="nav-item p-0 font-weight-bold" role="presentation">
                                        <a class="nav-link rounded-0 active text-uppercase"
                                           data-toggle="tab"
                                           id="daten-tab"
                                           href="#daten"
                                           role="tab"
                                           aria-controls="home"
                                           aria-selected="true">Biographie</a>
                                    </li>
                                </ul>
                                <div class="tab-content bg-mine p-3" id="myTabContent">
                                    <div class="tab-pane fade show active"
                                         id="daten"
                                         role="tabpanel"
                                         aria-labelledby="daten-tab">
                                        {% for key, value in daten_akademie.items %}
                                            {% if value|length > 0 %}
                                                <div class="card mt-2 mb-4 rounded-0">
                                                    <div class="card-header p-0 bg-white" id="heading{{ key }}">
                                                        <h5 class="mb-0">
                                                            <button type="button"
                                                                    class="btn btn-link text-decoration-none collapsebtn w-100 text-left collapsed p-0 pl-1 text-09"
                                                                    data-toggle="collapse"
                                                                    data-target="#{{ key | cut:' ' }}"
                                                                    aria-expanded="true"
                                                                    aria-controls="{{ key | cut:' ' }}">
                                                                <b>{{ key }}</b>
                                                                <i class="chevron-up" data-feather="chevron-up"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="{{ key | cut:' ' }}"
                                                         class="collapse"
                                                         aria-labelledby="heading{{ key | cut:' ' }}">
                                                        <div class="card-body p-2 pl-3 pr-3 show-limited-number text-09">
                                                            <ul class="pl-0 mb-0">
                                                                {% for ent in value %}
                                                                    <li class="font-weight-normal pb-0"
                                                                        style="list-style-type:none;
                                                                               padding-bottom: 0.5em">
                                                                        {{ ent|safe }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
</div>
{% endblock %}
