{% extends "mine_frontend/oeaw_entity_detail.html" %}
{% load static %}
{% load mine_extras %}
{% block left_tab %}
    {% include 'mine_frontend/partials/memb_left_panel_editable.html' %}
    {% if membership_short %}
        {% include 'mine_frontend/partials/memberships.html' %}
    {% endif %}
    {% include "mine_frontend/partials/reference_resources.html" %}
    {% include "mine_frontend/partials/section_downloads.html" with type='person' %}
{% endblock %}
{% block right_tab %}
    <div class="accordion" id="bioAccordion">
        {% if education %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Ausbildung' tooltip='Daten laut Selbstbiographie Akademiearchiv' content_partial='mine_frontend/partials/education.html' %}
        {% endif %}
        {% if career %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Berufslaufbahn' tooltip='Daten laut Selbstbiographie Akademiearchiv' content_partial='mine_frontend/partials/career.html' %}
        {% endif %}
        {% if membership %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Wahl und Mitgliedschaft' content_partial='mine_frontend/partials/memberships_long.html' %}
        {% endif %}
        {% if career_akad %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Funktionen in der Akademie' content_partial='mine_frontend/partials/career_akad.html' %}
        {% endif %}
        {% if nekrologe_verfasst or own_nekro %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Reden und Nachrufe in der Akademie' content_partial='mine_frontend/partials/speaches_nekrologes.html' %}
        {% endif %}
        {% if memb_akad %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Mitgliedschaften in anderen Akademien' tooltip='Daten laut Selbstbiographie Akademiearchiv' content_partial='mine_frontend/partials/memb_akad_other.html' %}
        {% endif %}
        {% if prizes or honour_titles %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Auszeichnungen und Preisaufgaben' tooltip='Auswahl' content_partial='mine_frontend/partials/prizes.html' %}
        {% endif %}
        {% if nazi %}
            {% include 'mine_frontend/partials/bio_panel_layout.html' with title='Mitglied in einer nationalsozialistischen Vereinigung' content_partial='mine_frontend/partials/memb_nationalsozialistisch.html' tooltip='Daten zu nationalsozialistischen Vereinigungen nicht systematisch erhoben' %}
        {% endif %}
    </div>
{% endblock %}
